*{
    box-sizing:border-box;
    font-family:"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", sans-serif;
    margin: 0;
    padding: 0; 
}
$color: #393E46;
@mixin text($color){
    color: $color;
    font-size: 50px;
    text-align:center;
    padding: 100px 0 100px 0;

}
@mixin card($color){
    color: $color;
    font-size:14.4px;
}
header{
    height:70px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 0 17%;
    z-index:10;
    h1{
        float:left;
        color:white;
        background-color: $color;
        padding: 3px 20px;
        margin-top:10px;
    }
    div{
        float: right;
        margin: 0;
        padding: 0;
    }   
        a{
            color: $color;
            text-align: right;
            float:left;
            padding-left: 20px;
            line-height: 70px;
            font-size:14.4px;
            text-decoration: none;
        }
}
main{
    margin-top: 70px;
    .top{
        width: 100%;
        max-width: 100%;
    }
    .about-top{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 4%;
        h2{
            @include text($color);
            &::after{
                content: "";
                display: block;
                width: 170px;
                height: 2px;
                background-color: $color;
                margin: 10px auto 0;
            }
        }
            .about{
                display: flex;
                justify-content: space-between;
                max-width: 528px;
                margin: 0 auto;
                width: 100%;
                .about-left{
                    position: relative;
                    display: block;
                    width: 100px;
                    height: 100px;
                    }
                .top2{
                    float:left;
                    width: 100px;
                }
                h3{
                    color: $color;
                    font-size: 16px;
                }
                p{
                    @include card($color);
                }
            }
        .bicycle-wrap{
            display: flex;
            max-width: 100%;
            position: relative;
            justify-content: space-between;
            .bicycle-card{
                width: 31%;
            }
            .bicycle-card-img img{
                width: 100%;
            }
            p{
                @include card($color);
            }
            .bicycle-card-text{
                text-align:center; 
            }
            .contents{
                display:inline-block;
                margin-top:10px;
                color:$color;
            }
            a{
                font-size:16px;
                text-decoration: none;
            }   
        }
    }
}

.clear{
  clear:left;
}
footer{
    color: $color;
    font-size: 10px;
    text-align:center;
    padding: 100px 0 10px 0;
}